* {
    margin: 0;
    padding: 0;
}

/* body {
    
} */

#sidebar {
    position: relative;
    width: 300px;
    height: 100%;
    background: #000;
    left: -300px;
    transition: .4s;
 
}



#sidebar.active {
    left:0;
}

#sidebar ul li {
    list-style: none;
    color: #fff;
    font-size: 20px;
    padding: 20px 24px;
    text-align: center;
}

#sidebar .toggle-btn {
    position: fixed;
    top: 30px;
    left: 330px;
    margin-top: 40px;
}

.toggle-btn span {
    width: 45px;
    height: 4px;
    background: #000;
    display: block;
    margin-top: 5px;
}