html {
    height: 100%;
    width: 100%;
}

h1 {
    text-align: center;
}

body {
    background-color: greenyellow;
}

.navbar-header {
    margin-top: 4px;
}

.navbar-brand {
    margin-left: 10px;
}

.navbar {
    padding: 1.0em;
}

.row {
    background-color: green;
}

.column {
    background-color: blue;
}

.container-fluid {
    margin-top: 30px;
    padding: 10px;
}

